* {
    box-sizing: border-box;
  }
  .bg{
    background-color: #F4F0FD;
    border-radius: 0px 0px 50% 0px;
  }
.Header-section {
    display: flex;
    height: 450px;
}

.animation {
    width: 30%;
}

.welcome {
    width: 70%;
    margin-top: 30px;
}

.cir-one {
    background-color: #4cbdff;
    position: absolute;
    height: 100px;
    width: 100px;
    bottom: 150px;
    left: 200px;
    border-radius: 50%;
    animation-name: header-animation-one;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.cir-two {
    position: absolute;
    bottom: 230px;
    left: 150px;
    height: 100px;
    width: 100px;
    background-color: #d796db;
    border-radius: 50%;
    animation-name: header-animation-one;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.cir-three {
    position: absolute;
    bottom: 150px;
    left: 110px;
    height: 100px;
    width: 100px;
    background-color: rgb(165, 231, 231);
    border-radius: 50%;
    animation-name: header-animation-one;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

@keyframes header-animation-one {
    0% {
        background-color: #8054E7;
    }

    25% {
        background-color: #AA8DEF;
    }

    50% {
        background-color: #D5C6F7;
    }

    75% {
        background-color: #FFFFFF;
    }

    100% {
        background-color: #8054E7;
    }
}

.brand-logo {
    margin-bottom: 30px;
    margin-left: -80px
}

.brand-logo img {
    height: 140px;
}

.grow {
    font-family: 'Epilogue';
    font-style: normal;
    color: #9570eb;
    font-size: 20px;
}

.welcome-text {
    margin-top: 50px;
    margin-bottom: 40px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 32px;
    color: #8054E7;
}

.details {
    margin-top: 30px;
    margin-right: 250px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px
}

.coming-soon {
    height: 150px;
    background-color: rgba(128, 84, 231, 0.13);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding-top: 50px;
    padding-bottom: 30px;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 80px;
}

.coming-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 32px;
    color: #5331A3;
}

.description {
    display: flex;
    margin-top: 100px;
}

.plan {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plan h4 {
    color: #ffffff;
    background-color: #8054E7;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 8px;
    border-radius: 20px;
}

.plan p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 20px;
}
@media screen and (max-width: 990px) {
    .animation{
        display: none;
    }
    .welcome{
        margin-left: 10px;
        width: 100%;
    }
    .brand-logo{
        display: flex;
        justify-content: center;
    }
    .brand-logo img {
        height: 120px;
    }
    .welcome-text{
        line-height: 70px;
        margin-left: 30px;
    }
    .Header-section{
        height: 550px;
        width: 100%;
    }
    .bg{
        border-radius:0px 0px 20% 0px;
    }
    .grow{
        margin-left: 30px;
    }
    .details{
        margin-left: 30px;
        width: 70%;
    }
    .coming-soon{
        height: 100%;
        text-align: center;
    }
    .coming-text{
        line-height: 100px;
    }
    .description{
        display: block;
    }
    .plan{
        margin-top: 40px;
        border-bottom: 1px solid gray;
    }
  }